/****** PLACE YOUR CUSTOM STYLES HERE ******/

.nav-bar {
	background: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.51);
	/*background: rgba(0, 0, 0, 0.5);*/
}
.overlay:before {
	background: rgba(255, 94, 6, 0.16);
/*	background:#693a06;
*/	opacity: 0.8;
}

.trader-bg.overlay:before{
    background: rgba(67, 42, 29, 0.51);
}

.homeowner-bg.overlay:before{
    background: rgba(38, 38, 38, 0.51);
}
/**/
/* HOME HERO SECTION */
#home-page-hero {
	padding-bottom:0;
}
.hero-row1 {
	margin: 40px 0;
}
.hero-row1 h2 {
	text-align:center;
	font-size: 32px;
}
.hero-row1 a {
	display: block;
}
.hero-row1 .large-logo-holder {
	text-align:center;
}

.hero-row1 a  img{
	width: 250px;

}
.hero-row1 a , .hero-row1 p{
	text-align:center;
	font-size:14px;
}
.hero-row-fluid {
	background: #e5692c;
	padding:80px 0;
}
.hero-row2 {
	text-align: center;

}
.hero-row2 h3 {
    font-weight: bold;
	color: white;
}
.hero-row2 p {
	padding-top: 12px;
	font-size:14px;
	color: white;
}

/**/

.testimonial .image-small {
	border-radius: 50%;
}
/**/
.app-steps p {
	font-size:16px;
}
.app-steps h4 {
	color: #e5692c;
}
/**/
a.appicon img {
	max-width: 190px;
	width: 190px;
	margin-left:20px;
}

.bg-black {
	background: black;
}

.feature h1.large {
	font-size: 58px;
}

.bg-dark .feature.boxed {
/*	background: rgba(238, 114, 39, 0.26);
*/
	background: #e5692c;
}
.feature img {
	margin-top: 20px;
    margin-bottom: 20px;
}

.actors-row a:hover .feature{
	background-color: #42372f;
}

.module.widget-handle i {
	color: #848484 !important;
}

/* mobile section */
.phone-section {
	/*padding: 0;*/
}

.home-owner.gif3 {
    width: 352px;
    position: absolute;
	left: 165px;
    top: 101px;

}

.home-owner.gif2 {
    width: 320px;
    position: absolute;
    left: 180px;
    top: 74px;
}

.traders.gif3 {
    width: 352px;
    position: absolute;
	left: 165px;
    top: 101px;
}

.traders.gif2 {
    width: 409px;
    position: absolute;
    left: 137px;
    top: 95px;
}

/**/
.subscribe-button {
	margin-top: 15px;
}
/**/

.social-list {
    font-size: 21px;
}
/**/

/* small download section */
.download-small-section .download-btns {
	text-align:left;
}

.download-small-section .download-txt {
	text-align:right;
}

/* trader */

.trader-bg.overlay:before {
    background: rgba(105, 58, 6, 0.62) !important;
    opacity: 1;
}

/**/


@media(max-width: 1200px) {
	.traders.gif3 {
		left: 107px;
	}

	.traders.gif2 {
    	left: 78px;
	}

	.home-owner.gif3 {
		left: 107px;	
		width: 353px;
	}
	.home-owner.gif2 {
		left: 131px;
		width: 305px;
	}
}
@media(max-width: 992px) {

	/* home hero section */
	.hero-logo {
		margin: 40px 0;
	}

	.hero-video {
		margin: 40px 0;
	}
	/**/
	.traders.gif3 {
		width: 303px;
    	left: 37px;
	}
	.home-owner.gif3 {
		left: 30px;
    	width: 312px;
	}
	.home-owner.gif2 {
		left: 37px;
		width: 303px;
	}
	.download-small-section .download-btns {
		text-align:center;
	}

	.download-small-section .download-txt {
		text-align:center;
	}
}


@media(max-width: 768px) {
	.mobile-text-center {
		text-align:center;
	}

	.traders.gif3, .traders.gif2 {
		position: static;
		margin-top:24px;
		    border: 5px solid #ccc;

	}

	.home-owner.gif2, .home-owner.gif3 {
				position: static;
		margin-top:24px;
		    border: 5px solid #ccc;

	}

	.download-small-section .download-text a{
		display: block;
		margin-top: 12px;
	}

	ul.slides {
		margin-bottom:0;
	}
	.hide-mobile {
		display: none;
	}
	.feature-section {
		text-align: center;
	}
	
	.likeandshare {
		margin-top:20px;
	}
	
	.play-button.btn-modal {
		margin-top:20px;
	}
}

@media(max-width: 992px) and (min-width: 768px ) {
	.feature.boxed {
		    height: 461px;
	}

	.traders.gif2 {
		left: 30px;
	    top: 73px;
	    width: 314px;
	}

	.home-owner.gif2 {
	    top: 74px;
	    left: 30px;
	    width: 313px;
	}
}


